<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default"  ng-repeat="thing in awesomeThings">
          <div class="panel-heading" role="tab" id="heading{{thing._id}}">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" expanded="false" data-parent="#accordion" href="#collapse{{thing._id}}" aria-expanded="false" aria-controls="collapse{{thing._id}}">
                {{thing.name}}
              </a>
            </h4>
          </div>
          <div id="collapse{{thing._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{thing._id}}">
            <div class="panel-body">{{thing.info}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Original Implementation
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  -->
  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Holger Heymanns, based on Angular Fullstack v2.0.13</p>
  </div>
</footer>
